body {
    margin: 0;
}
.header {
    animation-duration: 5s;
}
.nav {
    animation-name: slidein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: white;
    padding: 1.25rem;
}

.footer {
    margin-left: 25vw;
}

.content {
    margin-left: 20vw;
    animation-name: moveover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

@keyframes slidein {
    from {
        height: 100vh;
        width: 0vw;
        position: fixed;
        background-color: green;

    }

    to {
        height: 100vh;
        width: 20vw;
        position: fixed;
        background-color: yellow;  
    }
}

@keyframes moveover {
    from{
        height: 100vh;
        width: 100vw;
        position: relative;
        padding-top: 100px;
    }
    to {
        margin-left: 20vw;
        width: 80vw;
        position: relative;
    }


    }